@{
    ViewBag.Title = "Home Page";
}
@model FaceGram.Models.NewFeedModel

@section StylePage{
    <link rel="stylesheet" href="~/Assets/Css/homeStyle.css" />
}

@section ScriptPage{
    <script src="~/Assets/Js/interactPostScript.js"></script>
}

<div class="home-content row">
    <div class="newfeeds col-md-8 col-lg-8">

        @if (Model.PostModelList.Count >= 1)
        {

            foreach (var postModel in Model.PostModelList)
            {
                <div class="post-basic">
                    <div class="post-header post-align-side">
                        <div class="avatar-name pull-left">
                            <img class="img-responsive img-circle" src="@postModel.UserOfPost.Avatar" />
                            <a href="#" class="nickname">@postModel.UserOfPost.Username</a>
                        </div>
                        <div class="time-ago pull-right">
                            <span>@postModel.TimeAgo</span>
                        </div>
                    </div>
                    <div class="post-content post-align-side">
                        <p>@postModel.PostContent</p>

                    </div>
                    <div class="post-image">
                        <img class="img-responsive" src="@postModel.PostImage" />
                    </div>
                    <div class="post-interact post-align-side">
                        <div class="post-like">
                            <img class="img-responsive icon-like" width="25" data-postid="@postModel.PostId"
                                 src='~/Assets/Images/web_icon/@(postModel.IsLikeByLoginedUser? "favorite-liked.PNG" : "favorite.PNG")' />
                            <span>@postModel.FormatLikes</span>
                        </div>
                        <div class="post-comments" id='post-comments-@postModel.PostId'>
                            @foreach (var commentModel in postModel.Top3CommentModels)
                            {
                                <div class="comment">
                                    <img class="img-responsive img-circle" src="@commentModel.UserOfComment.Avatar" />
                                    <a href="#" class="nickname">@commentModel.UserOfComment.Username</a>
                                    <span class="text-comment">@commentModel.Content</span>
                                </div>
                            }


                        </div>
                    </div>
                    <div class="add-comment">
                        <div class="input-group">
                            <input class="addComment" type="text" placeholder="Write a comment" data-postid="@postModel.PostId" aria-describedby="basic-addon2">
                            <span class="input-group-addon btnAddComment">Post</span>
                        </div>

                    </div>
                </div>
            }

        }





    </div>
    <div class="follower col-md-4 col-lg-4">

    </div>
</div>
