@using FaceGram.Models;
@{
    UserAvatarModel UserAvatar = (UserAvatarModel)ViewBag.UserAvatar;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!--Bootstrap core -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <!--Custom Css-->
    <link rel="stylesheet" href="~/Assets/Css/style.css" />
    <!--Upload post Css-->
    <link rel="stylesheet" href="~/Assets/Css/postViewStyle.css" />
    <link rel="stylesheet" href="~/Assets/Css/uploadPostStyle.css" />
    <link rel="stylesheet" href="~/Assets/Css/explorePeopleStyle.css" />
    @RenderSection("StylePage", false)
</head>
<body>
    @{Html.RenderPartial("_PartialUploadPost", UserAvatar); }
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="logo">
                        <a href="@Url.Action("Index","Home")">
                            <img src="~/Assets/Images/web_icon/logoFaceGram.PNG" width="40" height="40" />
                            <span class="branch">FaceGram</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="search-part">
                        <form id="form-search" action="/Explore/People" method="get">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" id="textSearch" name="textSearch" placeholder="Search people...">

                                <button type="submit" class="input-group-text btn btn-default btn-search">Search</button>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="features">
                        <ul>
                            <li><a href="@Url.Action("People","Explore")"><img src="~/Assets/Images/web_icon/explore.PNG" class="img-responsive" /></a></li>
                            <li><a href="#" id="btnOpenUploadPost" data-toggle="modal" data-target="#uploadPostModel"><img src="~/Assets/Images/web_icon/favorite.PNG" class="img-responsive" /></a></li>
                            <li><a href="/MyProfile/Index/@UserAvatar.Id"><img src="~/Assets/Images/web_icon/profile.PNG" class="img-responsive" /></a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="container body-content">
        <div class="section">
            @RenderBody()
        </div>
    </div>
    <!--JQuery-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!--Bootstrap core javascript-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--Custom javascript -->
    <script src="~/Assets/Js/interactPostScript.js"></script>
    <script src="~/Assets/Js/uploadPostScript.js"></script>
    <script src="~/Assets/Js/explorePeopleScript.js"></script>
    @RenderSection("ScriptPage", false)

</body>
</html>
