@{
    Layout = null;
    ViewBag.Title = "Login";
}
@model FaceGram.Models.LoginModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--Bootstrap core -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <!--Custom Css-->
    <link rel="stylesheet" href="~/Assets/Css/loginStyle.css" />
</head>
<body>
    <div class="container login-container">
        <div class="row">
            <div class="col-md-12 login-form-1">
                <h3>FaceGram</h3>

                @using (Html.BeginForm("Index", "Admin", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, string.Empty, new { @class="text-danger"})
                    <div class="form-group">
                        @Html.TextBoxFor(model=>model.Email, new { @class="form-control", @autofocus="autofocus", @placeholder="Your Email"})
                        @Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class = "text-danger" } )
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Your Password" })
                        @Html.ValidationMessageFor(model => model.Password, string.Empty, new { @class = "text-danger" })
                    </div>
                    <div class="form-check">
                        @Html.CheckBoxFor(model=>model.IsRemember, new { @class="form-check-input", @id="ckRememberMe"})
                        <label class="form-check-label" for="ckRememberMe">Remember me</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                    <div class="form-group">
                        <a href="#" class="ForgetPwd pull-left">Forget Password?</a>
                        <a href="#" class="Register pull-right">Create new account</a>
                    </div>
                }

            </div>

        </div>
    </div>
    <!--JQuery-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!--Bootstrap core javascript-->
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
